body {
  background-image: url('img/scback.jpg');
  background-size: cover;
}

.memoryBoard {
  height: 540px;
  width: 785px;
  display: inline-block;
  margin: 20px 310px 0px 330px;

  .tiles {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    height: 175px;
    width: 125px;
    display: inline-block;
    margin: 2px 1px 2px 1px;
    background-size: cover;
    background-image: url('img/scb.png');
    outline: 0;


  }

  .tilesF {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    height: 175px;
    width: 125px;
    display: inline-block;
    margin: 2px 1px 2px 1px;
    background-size: cover;
    background-image: url('img/scb.png');
    outline: 0;


  }
}

.scorecard {
  display: inline-flex;
  height: 200px;
  width: 600px;
  margin: 0px 0px 0px 430px;

  #player1 {
    font-size: 30px;
    width: 200px;
    height: 100px;

    color: blue;
    text-align: center;
    font-family: fantasy;
  }

  #player2 {
    font-size: 30px;
    width: 200px;
    height: 200px;

    color: red;
    text-align: center;
    font-family: fantasy;
  }

  .arrow {
    background-image: url('img/compassL.png');
    background-size: cover;
    width: 200px;
    height: 200px;
  }

}

.player1Current{
  background-color: #3399FF;
  opacity: 0.9;
}

.player2Current{
  background-color: #990099;
  opacity: 0.9;
}


#playlist,audio{
  background:#666;
  width:400px;
  padding:20px;
  margin: 0px 30px 0px 510px;
  opacity:0.7;
}

li a{color:#eeeedd;
  background:#333;
  padding:5px;
  display:block;
}

li a:hover{
  text-decoration:none;
}

